:root
{
  --flash-width: 10px;
}

@font-face
{
  font-family: 'Amazon Ember';
  src: url('../assets/fonts/AmazonEmberDisplay_W_Lt.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face
{
  font-family: 'Amazon Ember';
  src: url('../assets/fonts/AmazonEmberDisplay_W_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face
{
  font-family: 'Amazon Ember';
  src: url('../assets/fonts/AmazonEmberDisplay_W_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face
{
  font-family: 'Amazon Ember';
  src: url('../assets/fonts/AmazonEmberDisplay_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face
{
  font-family: 'Amazon Ember';
  src: url('../assets/fonts/AmazonEmberDisplay_W_He.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

body
{
  background-color: darkgrey;
  font-family: 'Amazon Ember', sans-serif;
}

h1
{
  font-size: 2.0em;
  margin: 20px 0 0 0;
  text-shadow: 0.6px 0 currentColor;
}

h2
{
  font-size: 1.25rem;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  /* transform: rotate(270deg);
  width: 180px;
  height: 24px;
  position: absolute;
  left: -104px;
  top: 86px;
  text-align: right; */
}

h2 i
{
  margin-right: 8px;
}

h4
{
  border-bottom: 1px solid #9a9aa9;
  font-size: 1.0rem;
  margin: 0 0 3px 0;
  position: relative;
  padding: 0 0 5px 4px;
}

p
{
  margin: 0 0 20px 0;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

a:visited
{
  color: initial;
}

article#content
{
  width: 800px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section
{
  padding: 2px 15px;
  margin: 0;
  position: relative;
}

section#contact
{
  border-left: var(--flash-width) solid #00a1f1;
}

section#contact > h1
{
  padding: 0 0 14px 0;
}

section#contact > div
{
  display: block;
}

section#contact > div > span
{
  color: #00a1f1;
  border: 1px solid #00a1f1;
  border-radius: 25px;
  padding: 4px;
  text-align: center;
}

i {
    width: 24px;
}

section#employment
{
  border-left: var(--flash-width) solid #7cbb00;
}

section#employment .job > div,
section#education .school > div
{
  position: relative;
  margin: 0 5px 10px 4px;
}

section#employment .job,
section#education .school
{
  margin: 0 0 26px 0;
}

section#employment .job .fromto,
section#education .school .fromto
{
  position: absolute;
  right: 0;
}

section#employment .job .duration
{
  position: absolute;
  right: 0;
  font-style: italic;
}

section#education
{
  border-left: var(--flash-width) solid #ffbb00;
}

section#education .school ul li span.level
{
  font-style: italic;
}

section#interests
{
  border-left: var(--flash-width) solid #f65314;
}

@media print {
      body {
        background-color: white;
        margin: 0;
        padding: 0;
      }
      article#content {
        box-shadow: none;
        margin: 0;
        padding: 0;
      }
      section#employment,
      section#contact,
      section#education,
      section#interests {
        border: none;
      }
      .print-button {
        display: none;
      }
    }