:root
{
  --flash-width: 8px;
}

@font-face
{
  font-family: 'Bloomberg Prop Unicode C';
  src: url('/fonts/Bloomberg-PropU.ttf');
}

body
{
  background-color: darkgrey;
  font-family: 'Bloomberg Prop Unicode C', sans-serif;
}

h1
{
  font-size: 2.0em;
  margin: 0;
  text-shadow: 0.6px 0 black;
}

h2
{
  font-size: 1.25rem;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  /* transform: rotate(270deg);
  width: 180px;
  height: 24px;
  position: absolute;
  left: -104px;
  top: 86px;
  text-align: right; */
}

h4
{
  border-bottom: 1px solid #9a9aa9;
  font-size: 1.0rem;
  margin: 0 0 3px 0;
  position: relative;
  padding: 0 0 5px 4px;
}

p
{
  margin: 0 0 20px 0;
}

article#content
{
  width: 800px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section
{
  padding: 0px 10px;
  margin: 0;
  position: relative;
}

section#contact
{
  border-left: var(--flash-width) solid #00a1f1;
  padding: 12px 15px;
}

section#contact > div
{
  display: inline-block;
}

section#contact > div > span
{
  color: #00a1f1;
  border: 1px solid #00a1f1;
  border-radius: 25px; 
  padding: 4px; 
  text-align: center;
}

section#employment
{
  border-left: var(--flash-width) solid #7cbb00;
  padding: 12px 15px;
}

section#employment .job > div,
section#education .school > div
{
  position: relative;
  margin: 0 5px 10px 4px;
}

section#employment .job,
section#education .school
{
  margin: 0 0 26px 0;
}

section#employment .job .fromto,
section#education .school .fromto
{
  position: absolute;
  right: 0;
}

section#employment .job .duration
{
  position: absolute;
  right: 0;
  font-style: italic;
}

section#education
{
  border-left: var(--flash-width) solid #ffbb00;
  padding: 12px 15px;
}

section#education .school ul li span.level
{
  font-style: italic;
}

section#interests
{
  border-left: var(--flash-width) solid #f65314;
  padding: 12px 15px;
}