:root
{
  --flash-width: 5px;
}

body
{
  background-color: darkgrey;
  font-family: serif;
}

h1
{
  font-size: 2.0em;
  margin: 0;
}

h2
{
  font-size: 1.25rem;
  margin: 0 0 10px 0;
}

h4
{
  border-bottom: 1px solid grey;
  font-size: 1.0rem;
  margin: 0;
  position: relative;
}

article#content
{
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 800px;
  margin: 20px auto;
  background-color: white;
}

section
{
  padding: 0px 10px;
  margin: 0;
}

section#contact
{
  border-left: var(--flash-width) solid #00a1f1;
  padding: 12px 15px;
}

section#contact > div
{
  display: inline-block;
}

section#contact > div > span
{
  color: #00a1f1;
  border: 1px solid #00a1f1;
  border-radius: 25px; 
  padding: 4px; 
  text-align: center;
}

section#employment
{
  border-left: var(--flash-width) solid #7cbb00;
  padding: 12px 15px;
}

section#employment .job > div
{
  position: relative;
}

section#employment .job
{
  margin: 0 0 10px 0;
}

section#employment .job .fromto
{
  position: absolute;
  right: 0;
}

section#employment .job .duration
{
  position: absolute;
  right: 0;
  font-style: italic;
}

section#education
{
  border-left: var(--flash-width) solid #ffbb00;
  padding: 12px 15px;
}

section#interests
{
  border-left: var(--flash-width) solid #f65314;
  padding: 12px 15px;
}